<!-- <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, dolor sint obcaecati optio possimus molestias minima sit dicta, alias, magni nam. Expedita tenetur omnis asperiores.</p>
       <a href="#" class="btn btn-primary">Go somewhere</a> 
    </div>
  </div> -->


  <!-- <div class="col"> -->
    <div class="card" style="width: 10rem;">
      <img src="{{imgPath}}" class="card-img-top"
        alt="Hollywood Sign on The Hill" />
      <div class="card-body">
        <h5 class="card-title">{{cardTitle}}</h5>
        <p class="card-text">
          {{cardText}}
        </p>
      </div>
    </div>
  <!-- </div> -->